<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>

    </tr>

    <% @acc.each do |account| %>
      <tr>
        <td><%= account.name %></td>

      </tr>
    <% end %>
  </table>

</div>
