<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>deviceName</th>
      <th>id</th>
      <th>SFID</th>
    </tr>

    <% @devices.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.id %></td>
        <td><%= contact.sfid %></td>
      </tr>
    <% end %>
  </table>

</div>
